.deeppage{
    padding: 20px;
    margin-bottom: 50px;
}


.title_size{
    font-size: 1.5em;
    font-size: 150%;
}

.errorMessage {
    color: red;
}



.Common_button2{
    /*右寄せ*/
    float: right;
}

body {
    margin: 0;
    padding: 0;
}