/*body{
    
    text-align: center;
}
/*.inputdorm{
    width:auto;
}*/
.loginbox{
    margin: 0 auto;
    width: 280px;
    height: 300px;
}

.LoginForm{
    margin: 0 auto;
    /*margin-right: 150px;
    margin-left: 40px;*/
    position: relative;
    top: 50px;
    left: 50px;
}
.LoginText{
    margin-left: 0;
}
.title_size{
    font-size: 1.5em;
    font-size: 150%;
}
/*.LabelText{
    top: 50px;
    left: 50px;
}*/
/*.CommonButton{
    margin-right: 40%;
    margin-left: 60%;
    width: 90px;
    height: 30px;
}*/
.Buttonin{
    position: relative;
    top: 50px;
    left: 300px;
    width: 140px;
    float: left;
}

.Buttonout{
    margin-right: 40%;
    margin-left: 60%;
    position: relative;
    top: 50px;
    left: 300px;
    /*float: right;
    clear: right;
    margin-right: 30%;*/
    /*position: relative;
    top: 100px;
    right: 30px;*/
    width: 140px;
    height: 30px;
}

