body{
    
    text-align: center;
}
.inputdorm{
    width:auto;
}
.LoginForm{
    margin-right: 60%;
    margin-left: 40%;
    position: relative;
    top: 50px;
    left: 50px;
}
.LoginText{
    margin-right: 60%;
    margin-left: 40%;
}
/*.CommonButton{
    margin-right: 40%;
    margin-left: 60%;
    width: 90px;
    height: 30px;
}*/
.Buttonin{
    position: relative;
    top: 50px;
    left: 300px;
    width: 140px;
    float: left;
}

.Buttonout{
    margin-right: 40%;
    margin-left: 60%;
    position: relative;
    top: 50px;
    left: 300px;
    /*float: right;
    clear: right;
    margin-right: 30%;*/
    /*position: relative;
    top: 100px;
    right: 30px;*/
    width: 140px;
    height: 30px;
}

