.deeppage{
    margin-top:50px;
    margin-bottom: 50px;
}

form{
    /*中央寄せ*/
    width: 100%;
    margin: 0 auto;
    max-width: 1000px;
}
.Common_label{
    /*左詰め+上詰めとボーダー*/
    white-space:pre-wrap;
    text-align:left;
    vertical-align:top;
    width:900px;
    border : solid 1px #333 ; 
    background-color:#fff;
}

.detail_textarea {
    /*サイズ定義*/
    white-space: pre-wrap;
    width:  900px;
    height: 500px;
    resize:none;
}

.SpaceMargin{
    margin-top: 20px;
}

.SpaceMargins{
    margin-top: 50px;
}