.main {
    margin:0 auto;
    padding-top: 50px;
}

body {
    margin: 0;
    padding: 0;
    text-align: center;
}


.pagination-page-info {
    padding: .6em;
    text-align: center;
}

td {
    padding: 10px;
}

.pagination {
    text-align: center;
}
