<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>質問投稿サイト</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{{ staticfile('questiondetial.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ staticfile('header.css') }}">
    </head>

    <body>
        {% include "header.html" %}
    
        <div class="container">
            <div class="deeppage">
                <a href="/home">ホームページ</a>
                <a>>>質問詳細</a>
            </div>

            <form>
                <!--質問の概要-->
                <table>
                    <tr><th>タイトル</th></tr>
                    <tr><th name="create_title_id" class="Common_label" height="1em">{{create_title_id}}</th></tr>
                    <tr><th>カテゴリ</th></tr>           
                    <tr><th name="create_category_id" class="Common_label">{{create_category_id}}</th></tr>
                    <tr><th>本文</th></tr>
                    <tr><th name="create_detail_id"  class = "Common_label" height="500">{{create_detail_id}}</th></tr>
                </table>
                <input type="button" value="回答欄表示" onclick="clickBtn1()" class="btn btn-info">

            </form>
            <div id="my_answer">
                <form action="/question_detail/{{question_id}}" method="POST">
                    <p><textarea name="answer_text" maxlength="3000" class = "detail_textarea" required></textarea></p>
                    <input type="submit" value="回答の送信" class="Common_button btn btn-info">
                </form>
            </div>
            <p>この質問への回答</p>
    
            <form>
                {% for kaitou in answers %}
                    <table>
                        <tr><th class="Common_label" >{{kaitou}}</th></tr>
                    </table>
                {% endfor%}
            </form>

            <script type="text/javascript">
                //初期表示は非表示
                document.getElementById("my_answer").style.display ="none";

                function clickBtn1(){
                    const my_answer = document.getElementById("my_answer");

                    if(my_answer.style.display=="block"){
                        // noneで非表示
                        my_answer.style.display ="none";
                    }else{
                        // blockで表示
                        my_answer.style.display ="block";
                    }
                }
            </script>
        </div>
    </body>
</html>